@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-grey: hsl(0, 0%, 95%);
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

$breakpoint-mobile: 376px;

body {
  font-family: 'Lexend Deca', sans-serif;
}

.flex-container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    height: 50vh;
    width: 210px;
    color: $transparent-white;
    font-size: 15px;
    padding: 45px;
    line-height: 1.8;

    h1 {
      font-family: 'Big Shoulders Display', cursive;
      color: $very-light-grey;
      text-transform: uppercase;
    }

    button {
      margin-top: 60px;
      padding: 10px 30px;
      border-radius: 30px;
      border: 0;
      font-family: 'Lexend Deca', sans-serif;
      background-color: $very-light-grey;
      display: block;
      cursor: pointer;
      border: 2px solid $very-light-grey;
    }
  }

  #sedan {
    background-color: $bright-orange;
    border-radius: 10px 0 0 10px;

    button {
      color: $bright-orange;

      &:hover {
        background-color: $bright-orange;
        border: 2px solid $very-light-grey;
        color: $very-light-grey;
      }
    }
  }

  #suv {
    background-color: $dark-cyan;

    button {
      color: $dark-cyan;

      &:hover {
        background-color: $dark-cyan;
        border: 2px solid $very-light-grey;
        color: $very-light-grey;
      }
    }
  }

  #luxury {
    background-color: $very-dark-cyan;
    border-radius: 0 10px 10px 0;

    button {
      color: $very-dark-cyan;

      &:hover {
        background-color: $very-dark-cyan;
        border: 2px solid $very-light-grey;
        color: $very-light-grey;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .flex-container {
    flex-direction: column;
    height: 100%;

    div {
      height: 100%;

      button {
        margin-top: 30px;
      }
    }

    #sedan {
      border-radius: 10px 10px 0 0;
    }

    #luxury {
      border-radius: 0 0 10px 10px;
    }
  }

  .attribution {
    margin-top: 20px;
  }
}